html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css")
        link(rel="stylesheet" href="style.css")
    body
        .wrapper
          .wrapper__content
            h1(class="")
              | Report for #{profile}
          footer(class="wrapper__footer")
            div
                span
                  | Created by Dominik Szczepaniak 2022