html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css")
        link(rel="stylesheet" href="style.css")
    body
        .wrapper
          .wrapper__content
            h1(class="title scanner__header")
              | Twitter Automation Scanner!
            div(class="box")
              p 
                | In the form below, please provide the Twitter profile name (<em>without the @ operator</em>)  to scan. Then, click the <span class="tag is-info is-light">Investigate</span> button.
            form(role="form" action="profile-report" method="POST" id="scanProfile")
              div(class="field")
                input(class="input is-medium form__input" id="profile" type="text" placeholder="Provide profile name" name="profile" required)
              div(class="field form__submit")
                input(type="submit" value="Scan!" class="button is-link is-medium")
          footer(class="wrapper__footer")
            div
                span
                  | Created by Dominik Szczepaniak 2022