body {
    display: flex;
    justify-content: center;
}

.scanner__header {
    text-align: center;
    margin-top: 20px;
}

.wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.wrapper__content {
    margin: 0 auto;
    width: 50%;
    flex: 1 0 auto;
}

.wrapper__footer {
    text-align: center;
    flex-shrink: 0;
}

.form__submit {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.scanner_results {
    width: 100%;
}

.button {
    min-width: 100px;
    cursor: pointer;
}